*.DS_*
.vscode/
.ipynb_checkpoints/
__pycache__/
.Rhistory

client/workspace/**
client/jupyter/lab/workspaces/**
mysql/data/**
mongo/data/**

!client/workspace/.keep
!client/jupyter/lab/workspaces/.keep
!mysql/data/.keep
!mongo/data/.keep